:root {
  --primary-color: black;
}
body {
}
.hero {
  color: white;
  padding: 150px 125px;
  background: linear-gradient(to right, #868f96 0%, #596164 100%);
  font-family: nanum gothic, sans-serif;
  margin: 100px 200px;
}
